body {
    background-image: url(backgroundAboutUs.jpg);
    background-size: auto;
}

.title {
    font-family: verdana;
    font-size: 60px;
    font-weight: bold;
    margin-left: 370px; 
    color:  rgba(4, 64, 17, 0.701);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}

.container1 {
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center;
    height: 200px;  
    width: 500px;          
    border-radius: 40px;
    margin-top: 20px;
    border: 7px solid  rgba(15, 33, 19, 0.929);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}

.p1 {
    font-family: verdana;
    font-size: 17px;
    font-weight: bold;
    margin-left: -550px; 
    margin-top: -10px;
    text-align: center;
    margin: 0;
    color: rgba(36, 96, 15, 0.829);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.container2 {
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center;
    height: 200px;  
    width: 500px;               
    border-radius: 40px;
    margin-top: 30px;
    margin-left: 740px;
    border: 7px solid  rgba(15, 33, 19, 0.929);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}

.p2 {
    font-family: verdana;
    font-size: 17px;
    font-weight: bold;
    margin-left: -550px; 
    margin-top: -10px;
    text-align: center;
    margin: 0;
    color: rgba(36, 96, 15, 0.829);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.image1 {
    background-image: url(people1.jpg);
    background-size: cover;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 4px 4px 6px rgba(243, 240, 240, 0.6);
    margin-top: -200px;
    margin-left: 330px;
} 

.image2 {
    background-image: url(donation2.jpg);
    background-size: cover;
    width: 350px;
    height: 250px;
    border-radius: 50%;
    margin-top: -480px;
    margin-left: 900px; 
    box-shadow: 4px 4px 6px rgba(239, 230, 230, 0.6);
} 

.image3 {
    background-image: url(donation3.jpg);
    background-size: cover;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    margin-top: -210px;
    margin-left: 560px; 
    box-shadow: 4px 4px 6px rgba(239, 230, 230, 0.6);
} 

.image4 {
    background-image: url(donation4.jpg);
    background-size: cover;
    width: 320px;
    height: 220px;
    border-radius: 20px;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 4px 4px 6px rgba(243, 240, 240, 0.6);
} 